*.iml
.gradle
/tools
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/release
/captures
.externalNativeBuild
*.apk
*.exe
.idea/caches/build_file_checksums.ser
server/utils/db.ts
/web/.env.production
/.vscode
/sync.ffs_db
/autojs-web-control.code-workspace
/node_modules